Index.cshtml
@{
   ViewBag.Title = "Index";
}
<a href="@Url.Action("addOne", "Stack")" class="w3-bar-item w3-button">1. Add One time to stack</a><br />
<a href="@Url.Action("hugeList", "Stack")" class="w3-bar-item w3-button">2. Add huge list of items to stack</a><br />
<a href="@Url.Action("display", "Stack")" class="w3-bar-item w3-button">3. Display Stack</a><br />